/* Global */

li {
    margin: 10px;
}

/* ul-grid */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

ul {
    display: grid;
    margin: 0;
}




/*  */
.borrar {
    font-size: 12px;
    padding-inline: 1px;
}

.botones-borrar ul li {
    list-style: none;
}

.botones-borrar ul {
    padding: 0%;
}

